.header{
    background-color:rgb(240, 240, 240);
    padding: 0px;
    margin: 0px;
    text-align: center;
    
    }
    
    .main {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 18px;
    
    }
    
    .container {
    background-color: rgb(182, 182, 182);
    width: 35%;
    
    }
    
    .photo {
    margin-top: 30px;
    margin-left: 60px;
    
    }
    
    .contacts {
    margin-left: 40px;
    margin-top: 40px;
    }
    
    .skills {
    margin-left: 40px;
    margin-top: 60px;
    }
    .container_right {
    width: 65%;
    background-color:;
    padding-left: 30px;
    padding-right: 30px;
    
    }
    
    .wrapper {
    margin: 0 auto;
    width: 1024px;
    }
    
    .footer {
    height: 5%;
    background-color: gray;
    
    }
    
    .link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
    margin-left: 70px;
    }
    
    .time {
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    }
    
    .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    
    html {
    scroll-behavior: smooth;
    }
    
    .nav-list {
    list-style: none;
    }
    
    .nav-link {
    padding: 0 20px;
    line-height: 50px;
    }
    
    .nav-link {
    transition: .3s;
    }
    
    .section-item a {
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
    }
    .section-item a:hover {
    color: #4d2323;
    }
    